
.larger-image {
    width: 250px;
    height: 280px;
  }
.pink{
    color: pink;
}

h2{
    color: orange;
}
body{
    background-color: #0B2846;
　 }
div{
    background-color:#000000;
}
p{
    background-color:#F3D68A;
    position:;
　  top:80px;
　  left:600px
}
