
.larger-image {
    width: 250px;
    height: 280px;
  }
.pink{
    color: pink;
}

h2{
    color: orange;
}
button{
      color: white;
      background-color: black;
      border-radius: 10px;
        border: 2px solid white;
      padding: 10px 10px 8px 10px;
      }
body{
    background-color: #0B2846;
　 }
div{
    background-color:#000000;
}
